/* Your custom styles */
body{
    font-family: 'Heebo', sans-serif;
	font-size:'100%';
}
.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #212121;
}
.intro-2 {
    background: fixed;
}
.icons-sm .ins-ic{
    padding-right: 50%;
}
.hm-gradient .full-bg-img {
    background: -moz-linear-gradient(-45deg, #9aa5af, #b67861 100%);
    background: -webkit-linear-gradient(-45deg,#9aa5af,#e9c699 100%);
    background: -o-linear-gradient(-45deg, #e9c699,#e3a167 100%);
    background: linear-gradient(to -45deg, #e3a167,#b67861 100%); 
}
.h1-responsive{
	font-size: 500%;
}
h6{
    font-size: 150%;
}
.view a{
    color:white;
}
.view a:hover{
    color:#9aa5af;
}

#about{
    padding-top: 5%;
    background-color:#f4e3cc;
    
}
#about p{
    font-size: 200%;
}
#about p{
    font-size: 120%;
    text-align: justify;
    color: #212121;
}
#about button{
    margin-bottom: 3%;
}
.rectangle{
    margin-bottom: 2%;
	height:2vh;
	background:#212121;
}
#portfolio{
     background-color:#353535;
}
#portfolio a{
    color:#f4e3cc;
}
.nav-item:hover{
    background-color: #212121;
}
#portfolio h1{
    color: #f4e3cc;
}

#presentation{
    height: 50%;
    text-align: center;
    font-size: 150%;
    background-color: #F4E3CC;

}
#presentation p{
    font-size: 90%; 
    text-align: center;
}
#presentation i{
    color: #212121;
}
#skills{
    background-color: #353535;
}
#skills h1{
    text-align: center;
    color: #f4e3cc;
}
#skills img{
    width: 50%;
    padding-bottom: 5%; 
}
#skills p{
    color: #212121;
}
footer.page-footer {
    margin-top: 0px;
    padding-top: 0px; 
     background-color: #212121;
}






